<% layout('layout/boilerplate') %> 

<!-- Body Content -->
<section class="home-content mt-4 ">
  <div class="container">
    <div class="row">
      <% for(let blog of blogs) {%> 
        <div class="col-md-3 mb-3">  
          <div class="card my-card">
            <div class="card-body">
              <img src="<%= blog.image %>" alt="<%= blog.title %>" class="img-thumbnails">
              <h3 class="card-title"> <%= blog.title %> </h3>
              <p class="card-text text-muted">  <%= blog.content.slice(0, 50) %>...</p>
              <a href="/blogs/<%=blog._id %>" class="btn btn-sm btn-primary"> Read More</a>
              <small><%= blog.createdAt %> </small>
            </div>
          </div>
        </div>  
      <% } %> 
    </div>
  </div>
</section>