<% layout('layout/boilerplate') %>

<!-- Body Content -->

<div class="row">
  <ol class="col-12 breadcrumb">
    <li class="breadcrumb-item active"><a href="/blogs">Home</a></li>
    <li class="breadcrumb-item ">Contact </li>
    <li class="breadcrumb-item text-info"> PAGE N0: <%= page %> </li>
  </ol>
    <hr>
</div>
<section class="home-content mt-4 mb-3">
  <!-- <div class="container"> -->
  <!-- <div class="row"> -->
  <div class="card">
    <% for(let blog of blogs) {%>
    <div class="my-card pt-5">
      <div class="card-header">
        
        <blockquote>PUBLISHED BY: <%= blog.author.FirstName.toUpperCase() %> </blockquote>
        <h3 class="card-title"> <%= blog.title %> </h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-11 text-center">
            <h5><%= blog.capture %> </h5> 
            <p class="card-text text-muted"> <%= blog.content.slice(0, 150) %>...</p>
            <a href="/blogs/<%=blog._id %>" class="btn btn-sm btn-primary"> Read More</a>
            <br>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <i> PUBLISHED :</i><small><%= blog.createdAt %> </small>
      </div>

    </div>
    <% } %> </div>
  <!-- </div> -->
  <!-- </div> -->
</section>

<section>
  <div class="container">
    <nav aria-label="page pagination">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/blogs?page=<%= 2%>">First Page</a></li>
        <% if(+page >= 2){%>
        <li class="page-item">
          <a class="page-link" href="/blogs?page=<%= +page - 1%>" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <%}%>
        <li class="page-item"><a class="page-link" href="/blogs?page=<%= 2%>">2</a></li>
        <li class="page-item" aria-current="page">
          <a class="page-link" href="/blogs?page=<%= 3%>">3</a>
        </li>
        <li class="page-item"><a class="page-link" href="/blogs?page=<%= 4%>">4</a></li>
        <li class="page-item"><a class="page-link" href="/blogs?page=<%= 5%>">5</a></li>
        <li class="page-item"><a class="page-link" href="/blogs?page=<%= 6%>">6</a></li>
        <li class="page-item">
          <a class="page-link" href="/blogs?page=<%= +page + 1 %> ">Next</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="/blogs?page=<%= 22 %> ">Last</a>
        </li>
      </ul>
    </nav>
  </div>

  
 