<% layout('layout/boilerplate') %>

<!-- Body Content -->

<div class="row">
  <ol class="col-12 breadcrumb">
    <li class="breadcrumb-item active"><a href="/blogs">Home</a></li>
    <li class="breadcrumb-item ">Contact </li>
    <li class="breadcrumb-item text-info"> PAGE N0: <%= page %> </li>
  </ol>
    <hr>
</div>
<section class="home-content mt-4 mb-3">
  <!-- <div class="container"> -->
  <!-- <div class="row"> -->
  <div class="card">
    <% for(let blog of blogs) {%>
    <div class="my-card pt-5">
      <div class="card-header">
        <blockquote>PUBLISHED BY: DESTINY</blockquote>
        <h3 class="card-title"> <%= blog.title %> </h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-11 text-center">
            <p class="card-text text-muted"> <%= blog.content.slice(0, 150) %>...</p>
            <a href="/blogs/<%=blog._id %>" class="btn btn-sm btn-primary"> Read More</a>
            <br>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <i> PUBLISHED :</i><small><%= blog.createdAt %> </small>
      </div>

    </div>
    <% } %> </div>
  <!-- </div> -->
  <!-- </div> -->
</section>

<section>
  <div class="container">
    <div class="btn-group" role="group" aria-label="page pagination">
      <div class="row">
        <div class="col-sm-12 col-md-12 mb-3">
          <a class="btn  btn-outline-info" href="/blogs?page=<%= 1%>">Fist Page</a>
          <% if(+page >= 2){%>
            <a class="btn btn-info " href="/blogs?page=<%= +page - 1%>">Prev</a>
          <%}%>
          <a class="btn btn-info" href="/blogs?page=<%= 2%>">2</a>
          <a class="btn btn-info" href="/blogs?page=<%= 3%>">3</a>
          <a class="btn btn-info" href="/blogs?page=<%= 4%>">4</a>
          <a class="btn btn-info " href="/blogs?page=<%= 5%>">5</a>
          <a class="btn btn-outline-info" href="/blogs?page=<%= 22 %>">Last Page</a>
          <a class="btn btn-info active"  href="/blogs?page=<%= +page + 1 %> ">Next</a>
        </div>
      </div>
    </div>
  </div>
</section>