<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/stars.css">

<!-- Body Content -->
<section class="home-content mt-4 ">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mb-3">  
        <div class="card my-card">
            <img src="<%= blogs.image.path %>" alt="<%= blogs.title %>" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title"> <%= blogs.title %> </h3>
              <p class="card-text text-muted">  <%= blogs.content %></p>
              <em class="text-success"><%= blogs.createdAt.toString().substring(0, 15) %> </em>
            </div>
            <div class="card-footer row">
              <h5 class="card-text text-muted">Created By: <a  class="btn btn--sm btn-outline-primary" href="/user/profile/<%=blogs.author._id%>"> <%= blogs.author.FirstName.toUpperCase() %> </a></h5>
              <% if (currentUser && blogs.author.equals(currentUser._id)) { %>
                <a href="/blogs/<%=blogs._id%>/edit" class="col-md-1 btn btn-info mb-3">Edit</a>
                <form class="col-md-6" action="/blogs/<%=blogs._id%>?_method=DELETE" method="POST">
                  <button class="btn btn-sm-block btn-danger">Delete</button>
                </form>
              <% } %>
            </div>
        </div>
      </div>  
      <!--  Achieve section -->
      <div class="col-md-2"> 
        <aside class="card text-white bg-info mb-3">
          <div class="card-body">
            <h4 class="card-title">Subscribe for Newsletters</h4>
            <p class="card-text">Get latest updates and freebies</p>
            <form action="/blogs/subscribe" method="POST">
              <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="your email address" required>
              </div>
              <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" name="firstName" class="form-control" id="firstName" placeholder="enter your First Name" required>
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" name="lastName" class="form-control" id="lastName" placeholder="enter your Second Name" required>
              </div>
              <div class="mb-3">
                <button class="btn btn-sm btn-block btn-warning">Subscribe</button>
              </div> 
            </form>
          </div>
        </aside>
      </div> 

    </div>
  </div>
</section>

<!-- COMMENT SECTION -->
<section>
  <div class="container">
    <div class="row">
      <!-- REVIEW  -->
      <div class="col-md-10">
        <h2>Leave a Review</h2>
        <form action="/blogs/<%=blogs._id%>/reviews" method="POST" class="validated-form mb-3" novalidate>
          <div class="mb-3">
            <label for="name" class="form-label">Enter your Name</label>
            <input type="text" name="review[name]" id="name" class="form-control" required>
          </div>
          <div class="mb-3">
            <fieldset class="starability-basic">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                  aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          </div>
          <div class="mb-3">
            <label for="body" class="form-label">What do you think?</label>
            <textarea name="review[body]" id="body" cols="30" rows="3" class="form-control" required></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <button class="btn btn-success">Submit</button>
        </form>
      </div>

      <!-- Review -->
      <div class="mb-3">
      <% for(let review of blogs.reviews){ %>
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-text"><%= review.name %> </h4>
            <hr>
            <p class="starability-result" data-rating="<%=review.rating%>">
              Rated: <%= review.rating %> stars
            </p>
            <p class="card-text">Review: <%= review.body %> </p>
          </div>
          <!-- footer for reply goes here -->
        </div> 
      <%}%> 
      </div>  
    </div>
  </div>
</section>
 